---
layout: default
title: "Michael Kotrous &mdash; Data"
nav_section: data
body_class: homepage
---
<section>
    <div class="container-fluid container-fluid--md">
        <div class="homepage-content">
            <div class="row">
                <div class="homepage-content--dev">
                    <p>I've made a few datasets available for other researchers. For detailed documentation, instructions, and code for constructing the dataset, consult the linked GitHub repositories. A download link is provided if I have made the final data files available for direct download. Other datasets are available by request.</p>
                    <div class="row">
                        <div class="cards-wrapper">
                            {% for dataset in site.data.datasets %}
                            <div class="homepage-content--dev--item homepage-content--dev--item-card">
                                <div class="card repo">
                                    <div class="card--content">
                                        <h3 class="card--content--title">{{ dataset.title }}</h3>
                                        {% if dataset.summary %}<p class="card--content--summary">{{ dataset.summary }}</p>{% endif %}
                                        {% if dataset.links %}
                                        <ul class="card--content--links">
                                            {% for link in dataset.links %}
                                            <li><a href="{{ link.url }}" target="_blank">{{ link.text }}</a></li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                        {% if dataset.languages %}
                                        <div class="card--content--details repo--languages">
                                            {% for lang in dataset.languages %}
                                            <span class="{{ lang | downcase }}">{{ lang }}</span>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
