@use "../settings/colors" as *;
@use "../settings/grid-settings" as *;


.article-hero .ascii-art,
.article-hero--image img {
    margin-bottom: 20px;
}
.article-hero--image img {
    display: block;
    width: 100%;
    height: 420px;
    object-fit: cover;

    @media (max-width: $screen-sm-min) {
        height: 210px;
    }
}
.article-hero .ascii-art {
    position: relative; 
    height: 420px; 
    width: 100%; 
    background: $black_grey; 
    color: $white;

    @media (max-width: $screen-sm-min) {
        height: 210px;
        font-size: 0.5rem;
    }
}
.article-hero .ascii-art pre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.article-content--body a,
.article-content--sidebar--toc a {
    color: var(--link-color);
}
.article-content--sidebar-sticky {    
    @media (min-width: $screen-md-min) {
        position: sticky;
        position: -webkit-sticky;
        top: 20px;
    }
}

.article-content--sidebar {
    &--block {
        margin-bottom: 15px;
        font-family: "Open Sans Condensed", sans-serif;
        font-size: 0.889rem;
        text-align: center;

        h4 {
            font-family: "Open Sans Condensed", sans-serif;
            font-size: 1rem;
            font-weight: 700;
            text-transform: uppercase;
        }

        &--list {
            padding-left: 15px;
            text-align: left;

            li {
                margin-bottom: 2px;
            }

            ol {
                list-style-type: lower-alpha;
                padding-left: 18px;
                margin-top: 2px;
            }
        }
    }

}

#article-afterward {
    padding: 35px 0;
}

