---
layout: default
---
<section id="homepage">
    <div class="container-fluid container-fluid--md">
        <div class="homepage-content">
            <div class="row">
                <div class="homepage-content--bio">
                    <div class="homepage-content--bio--profile">
                        <img src="{{ page.profile_image }}" alt="profile picture" />
                    </div>
                    <div class="homepage-content--bio--summary">
                        <img class="mobile" src="{{ page.profile_image_mobile }}" height="120" width="120" />
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
