---
layout: default
---
<section id="article">
    <div class="container-fluid container-fluid--md">
        <div class="row article-head">
            <div class="article-head--content">
                <h2 class="title">{{ page.title }}</h2>
                {% if page.subtitle %}<h3 class="subtitle">{{ page.subtitle }}</h3>{% endif %}
            </div>
        </div>
        {% if page.hero_ascii %}
        <div class="row article-hero">
            <div class="ascii-art">{% include {{ page.hero_ascii }} %}</div>
        </div>
        {% elsif page.hero_image %}
        <div class="row article-hero article-hero--image">
            <img src="{{ page.hero_image }}" alt="{{ page.hero_image_alt | default: '' }}">
        </div>
        {% endif %}
        <div class="row article-content{% unless page.toc %} no-toc{% endunless %}">
            {% if page.toc %}
            <div class="article-content--sidebar article-content--sidebar-sticky">
                <div class="article-content--sidebar--block article-content--sidebar--toc">
                    <h4>Skip Around</h4>
                    <ol class="article-content--sidebar--block--list article-content--sidebar--toc--list" id="js-toc"></ol>
                </div>
            </div>
            {% endif %}
            <div class="article-content--body">
                {{ content }}
            </div>
        </div>
    </div>
</section>
